      <!-- Footer -->
      <footer class="footer">
        <div class="container">
          <div class="row gap-y align-items-center">

            <div class="col-md-3 text-center text-md-left">
              <a href="#"><img src="../img/logo-dark.png" alt="logo"></a>
            </div>

            <div class="col-md-6">
              <div class="nav nav-bold nav-uppercase nav-center">
                <a class="nav-link" href="#">About</a>
                <a class="nav-link" href="#">Blog</a>
                <a class="nav-link" href="#">Policy</a>
                <a class="nav-link" href="#">Contact</a>
              </div>
            </div>

            <div class="col-md-3 text-center text-md-right">
              <div class="social social-sm social-hover-bg-brand">
                <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="social-twitter" href="https://twitter.com/chuckymagic"><i class="fa fa-twitter"></i></a>
                <a class="social-instagram" href="https://instagram.com/chuckymagic"><i class="fa fa-instagram"></i></a>
              </div>
            </div>

          </div>
        </div>
      </footer><!-- /.footer -->
