<header class="header mb-9" style="background-image: url(/img/bg/12.jpg)" data-overlay="6">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-xl-8 mx-auto align-items-center">
        <div class="slider-arrows-circle-light px-8" data-provide="slider" data-arrows="true">
          <div class="card hover-shadow-1 my-8">
            <div class="row">
             <div class="col-md-4">
               <a href="/"><img src="./img/game/tilevania.png" alt="..."></a>
             </div>

              <div class="col-md-8">
                <div class="p-2">
                  <h4>Tile Vania</h4>
                  <p>2d Platformer game built with unity.</p>
                  <a class="small ls-1" href="/tilevania">Play Here <span class="pl-1">&xrarr;</span></a>
                </div>
              </div>

            </div>
          </div>
          <div class="card hover-shadow-1 my-8">
            <div class="row">
              <div class="col-md-4">
                <a href="/"><img src="./img/game/laserdefender.png" alt="..."></a>
              </div>
 
              <div class="col-md-8">
                <div class="p-2">
                  <h4>Laser Defender</h4>
                  <p>Play Laser Defender and protect the galaxy.</p>
                  <a class="small ls-1" href="/laserdefender">Read More <span class="pl-1">&xrarr;</span></a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-xl-4 mx-auto align-items-center">
        <a href="/">
          <div class="card shadow-4" style="background-image: url(/img/block-1s.png);background-repeat: no-repeat;background-size: contain;">
            <div class="card-body">
                <h5 class="card-title text-md-right text-dark">Getting Started ?</h5>
                <p class="text-right small text-dark">How to play my games</p>
            </div>
          </div>
        </a>
        <br/>
        <a href="http://yenum.dev/#contact" target="_blank">
          <div class="card shadow-4" style="background-image: url(/img/block-2s.png);background-repeat: no-repeat;background-size: contain;">
            <div class="card-body">
                <h5 class="card-title text-md-right text-dark">Сontact Yenum</h5>
                <p class="text-right small text-dark">Say Hello To the Developer</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</header><!-- /.header -->
