<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title><%= title %></title>

    <% if (hasBuild) { %>
      <link rel="shortcut icon" href="TemplateData/favicon.ico">
      <link rel="stylesheet" href="TemplateData/style.css">
    <% } %>
    
    <!-- Styles -->
    <link href="./css/page.min.css" rel="stylesheet">
    <link href="./css/style.min.css" rel="stylesheet">
    <link href="./css/custom.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="./img/apple-touch-icon.png">
    <link rel="icon" href="./img/favicon.png">

    <!--  Open Graph Tags -->
    <meta property="og:title" content="chuckymagic">
    <meta property="og:description" content="A Unity and C# Gaming App Portfolio powered by Node Typescript Express and EJS.">
    <meta property="og:image" content="https://thetheme.io/thesaas/assets/img/og-img.jpg">
    <meta property="og:url" content="https://chuckymagic.com/">
    <meta name="twitter:card" content="summary_large_image">
  </head>