
<!-- Main Nav START -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark" data-navbar="static">
    <div class="container">
  
      <div class="navbar-left">
        <button class="navbar-toggler" type="button">☰</button>
        <a class="navbar-brand" href="/">
          <img class="logo-dark" src="./img/logo/yenum-logo-main.png" alt="logo">
          <img class="logo-light" src="./img/logo/yenum-logo-main.png" alt="logo">
        </a>
      </div>
  
      <section class="navbar-mobile">
        <nav class="nav nav-navbar ml-auto">
          <a class="nav-link <%= name==='home' ? 'active' : ''  %>" href="/">Home</a>
          <a class="nav-link <%= name==='games' ? 'active' : ''  %>" href="/games">Games</a>
          <a class="nav-link <%= name==='about' ? 'active' : ''  %>" href="/about">About</a>
          <a class="nav-link <%= name==='contact' ? 'active' : ''  %>" href="#">Contact</a>
        </nav>
      </section>
    </div>
</nav><!-- /.navbar -->
<!-- Main Nav END -->